<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Here we are setting up the connect for the JDBC driver and the external Database -->
<bean id="dataSource"
	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="org.postgresql.Driver" />
	<property name="url" 
		value="jdbc:postgresql://horton.elephantsql.com:5432/eqazdawx"></property>
	<property name="username" value="eqazdawx"></property>
	<property name="password" value="RVGZnuSaYcXnp8-0fPkP0OsYf2zoD0Mo"></property>
</bean>

<bean id="todoRespository" class="ie.cit.adf.dao.JdbcTodoRepository">
	<constructor-arg ref="dataSource" />
</bean>
	
</beans>
